@import './dropdown';
@import './textfield';
@import './currencyPanel';

.app {
  font-family: helvetica, arial, sans-serif;
  padding: 2em;
  border: 1px solid rgba(0, 0, 0, .1);
  margin: 0 auto;
  max-width: 450px;
}

.header {
  text-align: center;
  font-size: larger;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.warning {
  color: red;
  font-size: small;
}

.toolbar {
  padding: 10px 20px;
  display: flex;

  .change {
    margin-right: 20px;
    width: 26px;
    height: 26px;
    border: 1px solid cornflowerblue;
    border-radius: 13px;
    background-image: url('../img/icon_change.png');
    background-repeat: no-repeat;
    background-size: 70% 70%;
    background-position: center;
    cursor: pointer;

    &:hover {
      border-color: darken(cornflowerblue, 10);
    }
  }

  .rate {
    display: flex;
    align-items: center;
    font-size: smaller;

    .rate-icon {
      width: 28px;
      height: 28px;
      background-image: url('../img/icon_rates.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}

.button-bar {
  padding: 20px;
  text-align: center;

  button {
    font-size: large;
    outline: none;
    cursor: pointer;
    padding: 5px 30px;
    border-radius: 7px;
    border: none;
    color: #fff;
    background: cornflowerblue;
    margin-bottom: 10px;

    &[disabled] {
      opacity: 0.5;
    }

    &:hover:not([disabled]) {
      background: lighten(cornflowerblue, 5);
    }
  }
}
