@import './dropdown';
@import './textfield';

.currency-panel-root {
  display: flex;
  padding: 20px;

  & > * {
    flex: 1 1 50%;
  }

  .dropdown-root {
    width: 130px;
    margin-bottom: 15px;

    .dropdown-option {
      display: flex;
      align-items: center;

      .currency {
        flex: 1;
      }

      .balance {
        flex: 1;
        font-family: "Apple Symbols", sans-serif;
      }
    }
  }

  .right-block {
    text-align: right;
  }

  .textfield {
    margin-bottom: 15px;
    max-width: 150px;
    border: none;
    border-bottom: 1px solid #333;
  }

  .balance-label {
    color: #555;
    font-size: small;
    padding-left: 10px;
  }
}
