.dropdown-root {
  position: relative;
  display: flex;

  & > * {
    width: 100%;
  }

  .dropdown-header {
    display: flex;

    .dropdown-header-content {
      flex: 3;
    }

    .icon {
      flex: 1;
      background-position: 40% 40%;
      background-size: 16px 16px;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    .icon-expand {
      @extend .icon;
      background-image: url('../img/icon_expand.png');
    }

    .icon-collapse {
      @extend .icon;
      background-image: url('../img/icon_collapse.png');
    }
  }

  .dropdown-options {
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
  }

  .dropdown-options {
    max-width: 140px;
  }

  .dropdown-option,
  .dropdown-selected {
    text-align: left;
    padding: 5px 10px;
    cursor: pointer;
  }

  .dropdown-option {
    &:hover {
      background: rgba(0, 0, 0,.1);
    }
  }

  .dropdown-options {
    box-sizing: border-box;
    background: white;
    text-align: center;
    transition: height .2s;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    max-height: 250px;
    overflow: auto;
  }
}
